@inject IJSRuntime JSRuntime
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
              @*  <NotAuthorized>
                    @JSRuntime.InvokeVoidAsync("eval", "var currentUrl = window.location.href; var loginUrl = currentUrl + 'login'; window.location.href = loginUrl;");
                </NotAuthorized>*@
            </RouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>